/nbproject/private/
/PHumanidades-war/nbproject/private/
/PHumanidades-ejb/nbproject/private/
/PHumanidades-ejb/build/
/PHumanidades-war/build/
/build/
/PHumanidades-ejb/dist/
/PHumanidades-war/dist/