.headerTabla{font-weight: bold;
}
.contenidoTabla, .contenidoTabla thead tr th, .contenidoTabla tbody tr td {border:1px solid #000; padding: 3px}

.anulado {background-color: #fcf8e3; color: #c09853}

.borrado {background-color: #f2dede; color: #b94a48}

h3,h1 {margin-top:4px}
.todoAncho {width: 100%}

.navbar-nav .ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text {
    margin-left: 1.4em;
    margin-right: 1.4em;
}
.navbar-nav .ui-menu-child {
    width: 225px !important;
}
.navbar-nav .ui-menu.ui-widget li > .ui-menuitem-link:hover,.navbar-nav .ui-state-hover,.navbar-nav .ui-menuitem-active{
    color:#fff !important;
}
.navbar-nav .ui-menu.ui-widget li > .ui-menuitem-link{
    color:#9d9d9d !important;
}



.ui-menubar,.ui-menu {
    background: #222222 !important;
    border-color: #222222 !important;
}

.ui-columntoggler-item label {
    width: 120px;
    overflow: hidden;
}

.ui-selectonemenu {
    padding-right: 0 !important;
}

.ui-selectonemenu label {
    width: auto !important;
}

.ui-datatable-reflow .ui-datatable-data td {
    border: 1px solid #f1f1f1 !important;
}

.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
    font-weight: 600 !important;
}

.display-none {
    display: none;
}