<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PHumanidades-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/Phumanidades</jta-data-source>
    <class>Entidades.Base.Base</class>
    <class>Entidades.Carreras.Anio</class>
    <class>Entidades.Carreras.Carrera</class>
    <class>Entidades.Carreras.Cohorte</class>
    <class>Entidades.Carreras.Cuenta</class>
    <class>Entidades.Carreras.InscripcionAlumnos</class>
    <class>Entidades.Carreras.Materia</class>
    <class>Entidades.Carreras.TipoCarrera</class>
    <class>Entidades.Egresos.PagosDocente</class>
    <class>Entidades.Egresos.TipoEgreso</class>
    <class>Entidades.Ingresos.Ingreso</class>
    <class>Entidades.Ingresos.TipoIngreso</class>
    <class>Entidades.Localidades.Departamento</class>
    <class>Entidades.Localidades.Localidad</class>
    <class>Entidades.Localidades.Pais</class>
    <class>Entidades.Localidades.Provincia</class>
    <class>Entidades.Persona.Alumno</class>
    <class>Entidades.Persona.CorreoElectronico</class>
    <class>Entidades.Persona.Docente</class>
    <class>Entidades.Persona.Domicilio</class>
    <class>Entidades.Persona.Persona</class>
    <class>Entidades.Persona.Proveedor</class>
    <class>Entidades.Persona.Telefono</class>
    <class>Entidades.Usuarios.Grupo</class>
    <class>Entidades.Usuarios.Usuarios</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
